* {
    -fx-font-family: Inter;
    -fx-text-fill: textColor;
}

/* PAGINA INIZIALE */

#containerLogin {
    -fx-background-size: cover;
    -fx-background-repeat: none;
    -fx-background-image: url(../Images/background-login.png);
}

#containerLabelsLogin {
    -fx-background-color: backgroundPrimaryColor;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 2, 2);
    -fx-background-radius: 16px;
}

.labelsLogin {
    -fx-background-color: transparent;;
}

.loginHeader {
    -fx-text-fill: textColor;
}

.iconLogin {
    -fx-fill: textColor;
    -fx-font-size: 30px;
}

.iconCoperti {
    -fx-fill: textColor;
    -fx-font-size: 30px;
}

/* Bottone aggiunta Coperti */
#buttonAddCop {
    -fx-padding: 30px;
    -fx-background-color: addButtonBackground;
    -fx-background-radius: 8px;
}

#buttonAddCop:hover {
    -fx-background-color: addButtonBackgroundHover;
}

/* Bottone rimozione coperti */
#buttonRemCop {
    -fx-background-color: removeButtonBackground;
    -fx-padding: 30px;
    -fx-background-radius: 8px;
}

#buttonRemCop:hover {
    -fx-background-color: removeButtonBackgroundHover;
}

/* Bottone inizio ordine */
#startButton {
    -fx-padding: 30px;
    -fx-background-color: activeOptionColor;
    -fx-background-radius: 8px;
    -fx-text-fill: textColor;
}

#startButton:hover {
    -fx-background-color: activeOptionColorHover;
}

/* MAIN PAGE */
/* SIDEBAR */
/* Bottone Sidebar */
#sidebarContainer {
    -fx-background-color: backgroundPrimaryColor;
}

.sidebar Button {
    -fx-background-color: transparent;
    -fx-padding: 20px;
    -fx-min-width: 310px;
}

.sidebar Button:hover {
    -fx-text-fill: activeOptionColor;
}

.iconSidebar {
    -fx-fill: textColor;
    -fx-font-size: 20px;
}

/* Bottone attivo Sidebar */
.activeSidebar {
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 2, 2); */
    -fx-text-fill: activeOptionColor;
    -fx-font-weight: bold;
    -fx-border-color: activeOptionColor;
    -fx-border-width: 0px 2px 0px 0px;
    -fx-border-style: solid;
}

#accessibilityButton {
    -fx-background-color: transparent;
    -fx-border-color: textColor;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
}
#accessibilityButton:hover {
    -fx-text-fill: activeOptionColor;
    -fx-border-color: activeOptionColor;
}

/* LISTA MENU */

/* ScrollPane menu */
#itemsListContainer {
    -fx-background-color: backgroundPrimaryColor;
}

#itemsListContainer .scroll-bar:vertical,
#ordersListContainer .scroll-bar:vertical {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

#itemsListContainer .scroll-bar:vertical .thumb,
#ordersListContainer .scroll-bar:vertical .thumb {
    -fx-background-color: activeOptionColor;
    -fx-min-width: 8px;
}

#itemsListContainer .scroll-bar:vertical .track,
#ordersListContainer .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-padding: 4px;
}

#itemsListContainer .scroll-bar .increment-button,
#itemsListContainer .scroll-bar .decrement-button,
#ordersListContainer .scroll-bar .increment-button,
#ordersListContainer .scroll-bar .decrement-button {
    -fx-min-width: 0px;
    -fx-max-width: 0px;
    -fx-opacity: 0;
    -fx-padding: 0px;
    -fx-background-insets: 0px;
}

/* Lista VBox(Categorie) */

#itemsList {
    -fx-background-color: backgroundPrimaryColor;
    -fx-padding: 8px;
}

/* Contenitore Categoria */
#categoryContainer {
    -fx-padding: 12px 12px 12px 12px;
    -fx-background-radius: 16px;
    -fx-background-color: backgroundPrimaryColor;
}
/* Titolo Categoria */
#categoryLabel {
    -fx-text-fill: activeOptionColor;
}
/* Box contenitore Item */
#itemView {
    -fx-background-color: backgroundSecondaryColor;
    -fx-background-radius: 16px;
    -fx-text-fill: textColor;
    -fx-padding: 10px 10px 10px 10px;
    -fx-max-height: 200px;
}

#itemView:hover {
    -fx-background-color: backgroundTerziaryColor;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 3, 3);
}

/* Quantità Item */
#quantity {
    -fx-padding: 20px 15px 20px 10px;
    -fx-text-fill: activeOptionColor;
    -fx-min-width: 70px;
}

#price {
    -fx-min-width: 60px;
}

/* Bordo a sinistra per far capire quando un Item è aggiunto */
.addedItem {
    -fx-border-color: activeOptionColor;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 4px;
    -fx-border-radius: 8px 0 0 8px;
}

/* Bottone per aggiungere Item */
#add {
    -fx-background-color: addButtonBackground;
    -fx-text-fill: addButtonText;
    -fx-text-alignment: center;
    -fx-padding: 12px 12px 12px 12px;
    -fx-min-width: 40px;
    -fx-background-radius: 8px;
}

#add:hover {
    -fx-background-color: addButtonBackgroundHover;
}

/* Bottone per rimuovere Item */
#remove {
    -fx-background-color: removeButtonBackground;
    -fx-text-fill: removeButtonText;
    -fx-text-alignment: center;
    -fx-padding: 12px 12px 12px 12px;
    -fx-min-width: 40px;
    -fx-background-radius: 8px;
}

#remove:hover {
    -fx-background-color: removeButtonBackgroundHover;
}

.iconItems {
    -fx-fill: backgroundSecondaryColor;
}

/* ACCESSIBILTIY CONTAINER */
#accessibilityModalContainer {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 1, 1);

}
#accessibilityContainer {
    -fx-background-color: backgroundSecondaryColor;
    -fx-background-radius: 8px;
    -fx-max-width: 500px;
    -fx-max-height: 280px;

}

#fontButtons .button, #daltonismoButtons .button {
    -fx-max-width: 120px;
    -fx-min-width: 30px;
    -fx-background-color: transparent;
    -fx-border-radius: 8px;
    -fx-border-style: solid;
    -fx-border-color: textColor;
    -fx-border-width: 1px;
}

#fontButtons .button:hover, #daltonismoButtons .button:hover {
    -fx-background-color: textColor;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-text-fill: backgroundSecondaryColor;
}

#accessibilityContainer .activeButton {
    -fx-text-fill: textColor;
    -fx-background-color: activeOptionColor;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
}

/* MODAL */
#customItemContainer {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 1, 1);

}

#modalContainer {
    -fx-background-color: backgroundSecondaryColor;
    -fx-background-radius: 8px;
    -fx-max-width: 500px;
    -fx-max-height: 450px;
}

/* Bottone chiusura Modal Accessibility e CustomItem */
#buttonCloseModal {
    -fx-padding: 10px;
    -fx-background-color: removeButtonBackground;
    -fx-text-fill: textColor;
    -fx-background-radius: 8px;
}

#buttonCloseModal:hover {
    -fx-background-color: removeButtonBackgroundHover;
}

.iconClose {
    -fx-text-fill: textColor;
    -fx-font-size: 20px;
}

/* Checkbox Ingredienti */
#ingredientsBox .check-box {
    -fx-max-width: 300px;
}

#ingredientsBox .check-box .box {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: textColor;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
}

#ingredientsBox .check-box:selected .box .mark {
    -fx-background-color: activeOptionColor;
}

/* Bottoni aggiunta quantità modal */
#removeCustomItem {
    -fx-background-color: removeButtonBackground;
    -fx-padding: 12px;
    -fx-background-radius: 8px;
}

#removeCustomItem:hover {
    -fx-background-color: removeButtonBackgroundHover;
}

#addNote {
    -fx-background-color: activeOptionColor;
    -fx-padding: 8px;
    -fx-background-radius: 8px;
    -fx-text-fill: textColor;
}
#addNote:hover {
    -fx-background-color: activeOptionColorHover;
}

#customNotes {
    -fx-font-size: 16px;
    -fx-text-fill: textColor;
    -fx-background-radius: 4px;
    -fx-padding: 10px;
}

#addCustomItem {
    -fx-background-color: addButtonBackground;
    -fx-padding: 12px;
    -fx-background-radius: 8px;
}
#addCustomItem:hover {
    -fx-background-color: addButtonBackgroundHover;
}

#orderCustomItem {
    -fx-background-color: backgroundTerziaryColor;
    -fx-background-radius: 8px;
    -fx-text-fill: textColor;
}

#orderCustomItem:hover {
    -fx-background-color: backgroundQuartColor;
}

.iconCustoms {
    -fx-fill: textColor;
    -fx-font-size: 20px;
}

/* Lato destro BorderPane */
.rightSide {
    -fx-min-width: 270px;
}

/* ScrollPane ordini */
#ordersListContainer {
    -fx-background-radius: 0px 0px 8px 8px;
    -fx-background: backgroundPrimaryColor;
    -fx-background-color: backgroundPrimaryColor;
    -fx-padding: 8px;
}

#menuRightContainer {
    -fx-background: backgroundPrimaryColor;
    -fx-background-color: backgroundPrimaryColor;
    -fx-background-radius: 8px;
}

/* VBox */
#ordersList {
    -fx-background-color: backgroundPrimaryColor;
    -fx-background-radius: 0px 0px 8px 8px;
}

.ordine {
    -fx-text-fill: textColor;
    -fx-min-height: 80px;
    -fx-background-color: backgroundSecondaryColor;
    -fx-background-radius: 8px;
}

.order-status-working {
    -fx-background-color: orderInProgress;
}

#orderQuantity, #orderName {
    -fx-padding: 4px;
}

#orderPrice {
    -fx-padding: 8px;
}

#removeOrderButton {
    -fx-padding: 4px;
    -fx-background-radius: 8px;
    -fx-background-color: removeButtonBackground;
}

#removeOrderButton:hover {
    -fx-background-color: removeButtonBackgroundHover;
}

.iconOrderRemove {
    -fx-fill: textColor;
    -fx-font-size: 20px;
}

/* Parte in fondo a destra */
#cartContainerMenu {
    -fx-background-color: backgroundPrimaryColor;
}

.cart {
    -fx-background-color: backgroundTerziaryColor;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-padding: 10px;
    -fx-text-fill: textColor;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 3, 3);
}

#orderButton {
    -fx-padding: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: backgroundSecondaryColor;
}
#orderButton:hover {
    -fx-background-color: backgroundQuartColor;
}

#cartWarningLabel {
    -fx-text-fill: removeButtonBackground;
    -fx-font-size: 16px;
}

.iconWarning {
    -fx-fill: removeButtonBackground;
    -fx-font-size: 20px;
}